[Desktop Entry]
Version=1.0
Name=SilentDragonLite
Comment=Full-node wallet for HUSH cryptocurrency
Exec=/home/user/SilentDragonLite/SilentDragonLite
Icon=/home/user/SilentDragonLite/res/SDLogo.png
Terminal=false
Type=Application
Categories=Network;
